@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    --main-text-color: black;
    --secondary-text-color: white;
    --main-bg-color: white;
    --main-bg-color-offset: rgb(233, 233, 233);
    --secondary-bg-color: #14b8a6;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.main-page-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

/* SIDEBAR */

.sidebar {
    grid-row: 1 / -1;
    background-color: var(--secondary-bg-color);
    min-width: 235px;
    display: grid;
    grid-template-rows: 100px 350px auto;
    padding: 10px 0 0 10px;
    color: var(--secondary-text-color);
}

.sidebar svg {
    fill: var(--secondary-text-color);
    fill: white;
}

.sidebar a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}

.dashboard-logo a {
    font-size: 1.5em;
    font-weight: 600;
}

.dashboard-logo svg {
    width: 50px;
}
.dashboard-options {
    margin-left: 15px;
}

.dashboard-options a {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.dashboard-options a svg {
    width: 20px;
    margin-right: 15px;
}

/* HEADER */

.header {
    background: var(--main-bg-color);
    padding: 10px 20px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 7px;
}

.search-logo {
    display: flex;
    align-items: center;
}

.nav-top-options {
    display: flex;
    gap: 15px;
    margin-left: 40px;
    align-items: center;
    font-weight: 600;
}

.search-logo>svg, .nav-top-options>svg {
    width: 20px;
}

.search-bar {
    background-color: var(--main-bg-color-offset);
    height: 22px;
    flex: 1;
    border-radius: 50px;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.search-bar>span {
    padding: 10px;
    font-size: .8em;
    color: rgb(99, 99, 99);
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.profile-image > img {
    width: 50px;
    object-fit:contain;
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bottom-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting>p {
    margin: 0;
    padding: 0;
}

.text-greeting {
    font-size: 0.8em;
}

.user-name {
    font-weight: 500;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}


.nav-bttn {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    border-radius: 50px;
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: .9em;
    font-weight: 500;
}

.nav-bttn>p {
    margin: 0;
    padding: 0;
}

/* MAIN CONTENT */

.main-content {
    background: var(--main-bg-color-offset);
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    gap: 20px;
}

.main-left-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 40px repeat(3, 2fr);
    gap: 20px;
}

.quote {
    background-color: var(--main-bg-color);
    min-height: 200px;
    max-height: 100%;
    grid-column: 1 / -1;
}

.quote-content {
    font-weight: 500;
    font-size: 2em;
    font-style: italic;
}

.quote-container {
    justify-self:center;
    align-self: center;
}

/* .main-left-container::after {
    content: "";
    background-color: var(--main-bg-color);
    grid-column: 1 / -1;
} */

.main-content p {
    margin: 0;
    padding: 0;
}

.main-right-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 4fr 1fr 4fr;
    gap: 20px;
}

.section-heading.projects, .section-heading.announcements, .section-heading.trending {
    grid-column: 1 / -1;
    align-self:flex-end;
    font-size: 1.2em;
}

.section-heading, .card-heading {
    font-weight: 500;
}

.card {
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    border-left: 5px solid var(--secondary-bg-color);
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-rows: auto auto auto;
    /* flex-direction: column;
    justify-content: space-between; */
}

.card-content {
    font-size: 0.8em;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.card-icons svg {
    width: 25px;
    fill: var(--secondary-bg-color);
}

.right-card {
    border: none;
}

.announcements-section .heading {
    font-weight: 500;
}

.announcements-section .content {
    font-size: 0.8em;
}

.announcements-section {
    padding: 15px;
}

.announcements-section.section-02 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.trending-card {
    display: grid;
    grid-template-rows: auto-fill;
    align-items: center;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 20px 30px;
    align-items: center;
}

.trend .profile-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    justify-self: center;
    margin-right: 7px;
}

.trend .user-info {
    line-height: 15px;
    font-size: 0.8em;
}